p{
	width: 200px;
	background-color: purple;
	border-style: solid;
	border-color: black;
}

.view{
	display: inline-block;
	border-style: solid;
	border-color: black;
	width: 60px;
	margin-left:50px;
}